<html>
	<head>

	<meta charset="UTF-8">
		<link rel=stylesheet type=text/css
			href="{{ url_for('static', filename='style.css') }}">

		<script type="text/javascript"
			src="{{ url_for('static', filename='utils.js') }}"></script>
	</head>
	<body>
		<h1>Game page</h1>
		{% if room_id %}
		<p>You joined room: {{ room_id }}</p>
		{% endif %}
		<br><br><br><br>
		<div>
			<span>Till starting: </span>
			<span id="till_round_start">0</span>
		</div>
		<br><br><br><br>
		<div>
			{% include 'chat.html' %}
		</div>
	</body>
	<script type="text/javascript"
		src="{{ url_for('static', filename='game.js') }}"></script>
	</body>
	<script type="text/javascript"
		src="{{ url_for('static', filename='game.js') }}"></script>
</html>
